<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Webhooker</title>
        <style>
            body {
                font-family: 'Courier New', Courier, monospace;
            }
            pre.code {
                display: block;
                border: solid 1px#ccc;
                white-space: normal;
                padding: 10px;
                width: 50%;
                min-width: 400px;
                background: #eee;
                border-radius: 5px;
            }
            span.code-inline {
                background-color: #ddd;
                padding: 1px 4px;
                border-radius: 4px;
            }
        </style>
    </head>
    <body>
        <h3>Webhooks today: {{webhooks_count}}</h3>
        <p><a href="/admin">Log in</a></p>
        <p><a href="/register">Sign up</a></p>
        <br/>
        <p>After registration your webhook server will be able at the address <span class="code-inline">https://webhook.maxtech.space/&#60;user_name&#62;/&#60;any_path&#62;</span></p>
        <br/>
        <h4>To proxy all requests to a local dev server use this client:</h4>
        <pre class="code">
            docker run -d -e USER=&#60;user_name&#62; -e API_KEY=&#60;api_key&#62; -e TARGET_URL=&#60;some_local_server&#62; madmadmax/webhook-client:latest
        </pre>
        <p>Example</p>
        <pre class="code">
            docker run -d --name=webhook-client -e USER=max -e API_KEY=334fb511-1002-470d-96d9-92edff1bb612 -e TARGET_URL=http://127.0.0.1:8000/some/path madmadmax/webhook-client:latest
        </pre>
    </body>
</html>
